<div id="list-container" class="container">
  <div class="row">

    <p id="notice"><%= notice %></p>

    <h3 class='list-h3'>My Trucks</h3>

    <% @trucks.each do |truck| %>

      <div id="list-container" class="container">
        <div class="row">

            <h1 class="list-h1 col-md-8"><%= link_to truck.name, user_truck_path(@user,truck) %></h1>
            <button class="btn col-md-1 align-baseline"><%= link_to 'Edit', edit_user_truck_path(@user,truck) %></button>
            <button class="btn col-md-1 align-baseline"><%= link_to 'Delete', user_truck_path(@user,truck), method: :delete, data: { confirm: 'Are you sure?' } %></button>
        </div>
      </div>

    <% end %>

    <br>

    <button class="btn"><%= link_to 'New Truck', new_user_truck_path(@user) %></button>

  </div>
</div>
